---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>A little bit about me...</b>
<hr>

Broadly speaking, I pursue research in artificial intelligence. More specifically, my interest lies in applying deep learning techniques to solve computer vision, NLP and reinforcement learning problems.
<br><br>
It is fascinating to see that a composition of multiple non-linear transformations can yeild a more abstract – and ultimately more useful – representation. I derive a lot of my motivation from the universality of neural networks and questioning their true expressive powers.
<br><br>

My other hobbies include badminton, travelling and trekking. Formally, I was a member of the N.S.O Athletics team, IITR.<br>
Studying in Roorkee gave me the unique benefit of camping in the Himalayas, white-water rafting in Rishikesh and paragliding in Bir Billing.
<br><br>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<b>Some of the best memories at IIT-R</b>
<hr>

<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="images/kedarkanta.jpg">
    <img src="images/kedarkanta.jpg" alt="kedarkanta" width="300" height="200">
  </a>
  <div class="desc">Kedarkanta Peak</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Nainital.jpg">
    <img src="images/Nainital.jpg" alt="Nainital" width="300" height="200">
  </a>
  <div class="desc">Nainital Lake</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Ooty.jpg">
    <img src="images/Ooty.jpg" alt="Doddabetta Peak, Ooty" width="300" height="200">
  </a>
  <div class="desc">Ooty</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Paragliding.jpg">
    <img src="images/Paragliding.jpg" alt="Paragliding" width="300" height="200">
  </a>
  <div class="desc">Paragliding at Bir Billing</div>
</div>
  
    <div class="gallery">
  <a target="_blank" href="images/allepey.jpg">
    <img src="images/allepey.jpg" alt="BackWaters" width="300" height="200">
  </a>
  <div class="desc">Backwaters of Alappuzha, Kerala</div>
</div>
  
  <div class="gallery">
  <a target="_blank" href="images/Triund.jpg">
    <img src="images/Triund.jpg" alt="Triund" width="300" height="200">
  </a>
  <div class="desc">Triund Trek</div>
</div>


</body>
