---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>A little bit about me...</b>
<hr>

I pursue my research in artificial intelligence. My interests lie in applying deep learning techniques to solve computer vision, NLP and reinforcement learning problems. I derive a lot of my motivation from the universality of neural networks and questioning their true expressive powers.

Having worked on diverse yet simple problems across various domains, I have gained a decent understanding of deep learning techniques, its priors and its contemporaries.<br>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
