---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<p align=”justify” text-align: "justify">We, humans, are surprisingly good at learning from past experiences, even when compared to today’s most advanced artificial intelligence (AI) systems. Ironically, what makes us so special is also something that we are least aware of. This very mystery excites me and has driven my research in AI. In particular, my research interest lies in probablistic machine learning, with a focus on reinforcement learning, meta-learning, and lifelong learning.</p>
  
<p align=”justify” text-align: "justify">I am a visiting research scholar hosted by <a href="https://www.iitp.ac.in/~asif/"><b>Prof. Asif Ekbal</b></a> at the <a href="http://www.iitp.ac.in/~ai-nlp-ml/">AI-NLP-ML lab</a>, IIT Patna. Currently, I split my time between my research assistantship at AI-NLP-ML lab and a joint project between Center for Autonomous Systems and Technologies (<a href="http://cast.caltech.edu/">CAST</a>), Caltech and Facebook AI Research (<a href="https://ai.facebook.com/">FAIR</a>), under the direct supervision of <b>Dr. Kamyar Azizzadenesheli</b> and <b>Dr. Mohammad Ghavamzadeh</b>.</p>

<p align=”justify” text-align: "justify">Aside from research, I love spending my time playing badminton, indulging in adventure sports and traveling to places I haven't been before. Here are some of the memorable moments from my undergraduate.</p>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<hr>

<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="images/kedarkanta.jpg">
    <img src="images/kedarkanta.jpg" alt="kedarkanta" width="300" height="200">
  </a>
  <div class="desc">Kedarkanta Peak</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Nainital.jpg">
    <img src="images/Nainital.jpg" alt="Nainital" width="300" height="200">
  </a>
  <div class="desc">Nainital Lake</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Ooty.jpg">
    <img src="images/Ooty.jpg" alt="Doddabetta Peak, Ooty" width="300" height="200">
  </a>
  <div class="desc">Ooty</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/Paragliding.jpg">
    <img src="images/Paragliding.jpg" alt="Paragliding" width="300" height="200">
  </a>
  <div class="desc">Paragliding at Bir Billing</div>
</div>
  
    <div class="gallery">
  <a target="_blank" href="images/allepey.jpg">
    <img src="images/allepey.jpg" alt="BackWaters" width="300" height="200">
  </a>
  <div class="desc">Backwaters of Alappuzha, Kerala</div>
</div>
  
  <div class="gallery">
  <a target="_blank" href="images/Triund.jpg">
    <img src="images/Triund.jpg" alt="Triund" width="300" height="200">
  </a>
  <div class="desc">Triund Trek</div>
</div>


</body>
